<mat-card class="task-item">
    <mat-card-content>
        <div class="task-item-row">
            <div>
                <!-- Checkbox -->
                {{ task.name }}
            </div>
            <div>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>edit</mat-icon>
                      <span>Bearbeiten</span>
                    </button>
                    <mat-divider></mat-divider>
                    <button mat-menu-item>
                      <mat-icon [ngStyle]="{color: '#f10c'}">delete</mat-icon>
                      <span>Löschen</span>
                    </button>
                  </mat-menu>
            </div>
        </div>
    </mat-card-content>
</mat-card>