.task-controls {

    button:hover > .btn-hidden-text {
        display: block !important;
    }
}

.btn-hidden-text {
    display: none;
    transition: 1ms;
}

.mat-button-toggle-label-content {
    padding: 0 6px !important;
    line-height: 36px !important;
}

