@mixin FlexSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    @include FlexSpaceBetween;
    padding-bottom: 10px;

    h2 {
        margin: 0;
    }
}

