<div class="task-container">
    <h1>Aufgaben</h1>
    <mat-divider></mat-divider>

    <app-tasks-list 
        [tasksList]="undoneTasks"
        (onTaskDelete)="deleteTask($event)"
        (onUpdateTaskStatus)="updateTaskStatus($event)"
        (onUpdateTask)="openDialog($event)"
    ></app-tasks-list>

    <button 
        class="add-btn"
        mat-raised-button color="primary"
        (click)="openDialog()"
    > + Aufgabe</button>

    <app-tasks-list 
        [tasksList]="doneTasks"
        (onTaskDelete)="deleteTask($event)"
        (onUpdateTaskStatus)="updateTaskStatus($event)"
        (onUpdateTask)="openDialog($event)"
    ></app-tasks-list>
</div>
