.task-container {
    min-width: 400px;
    max-width: 600px;
    min-height: 200px;
    background-color: #fff;
    border-radius: 10px;
    margin: 200px auto;
    box-shadow: 0 0 20px #ccc;
    padding: 25px;
}