<div class="task-container">
    <div class="flex space-between align-items-center">
        <h1>Aufgaben</h1>
        <app-task-controls></app-task-controls>
    </div>
    <mat-divider></mat-divider>
    


    <app-tasks-list 
        [tasksList]="undoneTasks"
        (onUpdateTask)="openDialog($event)"
    ></app-tasks-list>

    <button 
        class="add-btn"
        mat-raised-button color="primary"
        (click)="openDialog()"
    > + Aufgabe</button>

    <app-tasks-list 
        [tasksList]="doneTasks"
        (onUpdateTask)="openDialog($event)"
    ></app-tasks-list>
</div>
