/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #eee;
}

.flex {
    display: flex;
}

.content-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.menu-body {
    padding: 10px 20px;
}

// possible to change only in styles.scss
.mat-button-toggle-label-content {
    padding: 0 6px !important;
    line-height: 36px !important;
}